/* Font anti-aliasing */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

:root {
	/**
   * Values for font style variables defined in the Webflow variables panel
   */
	--font-weight--bold: 700;
  --font-weight--semibold: 600;
  --font-weight--medium: 500;
  --font-weight--regular: 400;
  --font-weight--light: 300;
  
  --text-transform--uppercase: uppercase;
  --text-transform--lowercase: lowercase;
  --text-transform--none: none;
  
  --text-size-source--m: 1rem; /* For testing, would be set in WF variables as --text-size-base */
	--type-scale: 1.333;
	--min-text-size: 12px;
	--rounding-interval: 4px;

/* Sizes using the type scale pow(), and rounded to the nearest 4px with round() */
--text-size-responsive--7xl: calc(round(var(--text-size-source--m) * pow(var(--type-scale), 7), var(--rounding-interval)));
--text-size-responsive--6xl: calc(round(var(--text-size-source--m) * pow(var(--type-scale), 6), var(--rounding-interval)));
--text-size-responsive--5xl: calc(round(var(--text-size-source--m) * pow(var(--type-scale), 5), var(--rounding-interval)));
--text-size-responsive--4xl: calc(round(var(--text-size-source--m) * pow(var(--type-scale), 4), var(--rounding-interval)));
--text-size-responsive--3xl: calc(round(var(--text-size-source--m) * pow(var(--type-scale), 3), var(--rounding-interval)));
--text-size-responsive--2xl: calc(round(var(--text-size-source--m) * pow(var(--type-scale), 2), var(--rounding-interval)));
--text-size-responsive--xl: calc(round(var(--text-size-source--m) * pow(var(--type-scale), 1), var(--rounding-interval)));
--text-size-responsive--l: calc(round(var(--text-size-source--m) * pow(var(--type-scale), 0.5), var(--rounding-interval)));
--text-size-responsive--m: var(--text-size-source--m); /* Base size */
--text-size-responsive--s: max(var(--min-text-size), calc(round(var(--text-size-source--m) / pow(var(--type-scale), 1), var(--rounding-interval))));
--text-size-responsive--xs: max(var(--min-text-size), calc(round(var(--text-size-source--m) / pow(var(--type-scale), 2), var(--rounding-interval))));
}
/**
 * Tablet multipliers for fonts
 */
@media screen and (max-width: 991px) {
	:root {
    --text-large-multiplier: 0.85;
    --text-medium-multiplier: 0.92;
    --text-small-multiplier: 0.97;
    
    --heading--h1-line-height: 1.1;
    --heading--h2-line-height: 1.2;
    --heading--h3-line-height: 1.3;
    --heading--h4-line-height: 1.4;
    --heading--h5-line-height: 1.5;
  }
}

/**
 * Mobile landscape multipliers for fonts
 */
@media screen and (max-width: 767px) {
	:root {
  	--text-large-multiplier: 0.75;
    --text-medium-multiplier: 0.88;
    --text-small-multiplier: 0.93;
    
    --heading--h1-line-height: 1.2;
    --heading--h2-line-height: 1.3;
    --heading--h3-line-height: 1.4;
    --heading--h4-line-height: 1.5;
  }
}

/**
 * Mobile portrait multipliers for fonts
 */
@media screen and (max-width: 480px) {
	:root {
  	--text-large-multiplier: 0.6;
    --text-medium-multiplier: 0.75;
    --text-small-multiplier: 0.85;
    
    --heading--h1-line-height: 1.3;
    --heading--h2-line-height: 1.4;
    --heading--h3-line-height: 1.5;
  }
}